{{#if this.shouldShowBlock}}
  <div class="sidebar-title">
    <div class="popular-tags-heading">
      {{theme-i18n "popular_tags.heading"}}
    </div>
  </div>
  

  <div class="popular-tags__container">
    {{#each this.topTags as |t|}}
      <a href="/tag/{{t}}" class="popular-tags__tag">
        {{t}}
      </a>
    {{/each}}
  </div>

  <a class="popular-tags__view-all" href={{this.viewAllUrl}}>
    {{theme-i18n "popular_tags.view_all"}}
  </a>
{{/if}}